html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.733)), url("/images/rusticbackground.jpg");
  background-color: transparent;
  background-attachment: fixed;
  z-index: -10;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {  box-sizing: border-box; }

h1, h2, h3 {
  font-family: 'Parisienne', cursive;
  font-size: 28px;
}

p, label { font-family: 'Work Sans', sans-serif; }

.card, .card1, .guesbookcard, .rsvpcard, .registrycard, .photocard {
  background-color: #eaeaea;
}
