@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Work+Sans&display=swap');

.guestbook, 
.phototitle, 
.guestbook, 
.welcome, 
.phototitle, 
.registrytitle {
  font-size: 35px;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("/images/antoniaclark1.jpg"); */
}

.main {
  z-index: 0;
  padding: 5rem 0;
  flex: 1;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/************ Navigation **************/

.link {
  display: flex;
  justify-self: center;
  position: relative;
  color: #c5c5c5;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 5px;
  margin: 1rem 1rem auto 0;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}

.link:hover:before,
.link:active:before {
  align-items: center;
  content: " ";
  align-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  margin: 0 auto;
}

.link:hover,
.link:active { 
  color: rgba(255, 202, 29, 0.858) !important;
  border-bottom: 2px solid rgba(255, 202, 29, 0.858) ;

 }
 
.link:link,
.link:visited {
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.mobilenav {
  z-index: 9999;
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  padding: 0.5em;
  color: #000;
  background-color: rgb(245, 245, 225);
  box-shadow: 0px 3px 6px 3px rgb(155, 155, 155);
  width: 100%;
  overflow: hidden;
}

.mobilelink {
  font-size: 18px;
  color: #000;
  margin: auto 0.5rem;
  overflow: hidden;
}

.mobilelink:link,
.mobilelink.visited {
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}

.mobilelink:hover,
.mobilelink.active { color: #000; }

.title {
  color: #d3d3d3;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: 0.3em;
}

.title,
.description { text-align: center; } 

.title span {
  font-family: fantasy;
  font-weight: 400;
  font-size: 25px; 
}

.countdownWrapper {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-basis: 15%;
  z-index: -1;
  width: 100%;
  padding: 2rem 1rem 0 1rem;
  margin-bottom: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
  border: 0.5px solid rgb(17, 17, 16);
  box-shadow: 2px 3px 8px 3px rgb(0, 0, 0);
}

.countdownWrapper:before {
  content: " ";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.4)), url("/images/rusticbackground.jpg") 0 0 repeat;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.countdownBox {
  margin-bottom: 0;
  height: 100px;
}

.time {
  font-weight: 700;
  margin-right: 0.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 1.5em;
}

.time2 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.navigation {
  margin-top: 1.5em;
  display: none;
  justify-content: space-evenly;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #eaeaea;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,    Bitstream Vera Sans Mono, Courier New, monospace;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  flex-wrap: wrap;
  
  margin-top: 3rem;
}

/*** Home Page ***/

.card1 {
  background-color: #eaeaea;
  box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.5);
  width: 80%;
  margin: 0 auto 3rem auto;
  flex-basis: 65%;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.card {
  background-color: #eaeaea;
  box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.5);
  width: 80%;
  margin: 1rem auto;
  flex-basis: 85%;
  padding: 2rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  -webkit-transition: color 0.15s ease, border-color 0.15s ease;
  -moz-transition: color 0.15s ease, border-color 0.15s ease;
  -ms-transition: color 0.15s ease, border-color 0.15s ease;
  -o-transition: color 0.15s ease, border-color 0.15s ease;
}

.venuecard {
  box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.5);
  background-color: #eaeaea;
  width: 90%;
  margin: 1rem auto 3rem auto;
  flex-basis: 85%;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.venue { width: 70%; }

.newsbox { 
  display: flex;
  border-radius: 20px;
  padding: 10px;
  box-shadow: inset 1px 3px 10px 1px rgba(0, 0, 0, 0.295);
  align-items: space-evenly;
  flex-direction: column;
  justify-content: center;
}

 b.blogdate { margin-top: 20px; }

 a.photolink {
  width: inherit;
  position: relative;
  margin: 2rem auto auto auto;
  transition: all 0.4s;
}
a.photolink:hover {
  box-Shadow: 6px 5px 8px rgb(109, 109, 109) !important;
}

.newsphotobox {
  display: flex;
  align-items: left;
}

/** Registry Page **/

.registrycard {
  width: 100%;
  margin: 0 auto 3rem auto;
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.5);
  background-color: #eaeaea;
  flex-basis: 100%; 
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: box-shadow 0.5s ease-in;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.registrycard:hover,
.registrycard:active {
  /* box-shadow: 3px 2px 6px 1px rgba(191, 219, 219, 0.76); */
}

.registrypicture {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registrytext {
  text-align: center;
}

h3.registrytitle { font-size: 30px; }

.registrylink {
  font-size: 16px;
  color: #000;
  font-style: italic;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: orange;
  border: 1.5px solid rgb(250, 178, 46);
  /* box-shadow: 1px 3px 6px 1px rgb(139, 136, 136); */
  transition: all 0.6s;
}

.registrylink:link,
.registrylink:visited {
  /* border: 1px solid #c9c9c9; */

}
.registrylink:hover,
.registrylink:active {
  background-color: rgb(255, 187, 0);
  box-shadow: 2.5px 5px 8px 2px rgb(177, 169, 169);
  border: 1.5px solid rgb(247, 182, 3);
}

.registrybox {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/** Guestbook Page */

.guestbookcard {
  background-color: #eaeaea;
  margin: 0 auto 3rem auto;
  flex-basis: 75%;
  padding: 3rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: color 0.15s ease, border-color 0.15s ease;
  -moz-transition: color 0.15s ease, border-color 0.15s ease;
  -ms-transition: color 0.15s ease, border-color 0.15s ease;
  -o-transition: color 0.15s ease, border-color 0.15s ease;
}

.guestbooktext {
  flex-basis: 50%;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.rsvpcard {
  width: 75%;
  margin: 0 auto 3rem auto;
  background-color: #fff;
  flex-basis: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  box-shadow: 1px 3px 10px 1px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.photocard {
  width: 100%;
  margin: 0 auto 3rem auto;
  box-shadow: 1px 3px 10px 1px rgb(0, 0, 0, 0.5);
  background-color: #eaeaea;
  flex-basis: 85%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.picture {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Photo Carousel */
#fader {
height: 50vw;
position: relative;
overflow: hidden;
}

@media (min-width: 768px) {
  #fader {
    height: 300px;
  }
}

#fader__slide {
width: 100%;
height: 100%;
position: absolute;
top: 0;
}

#fader img {
width: 100%;
height: auto;
position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%) translateX(-50%);
-webkit-transform: translateY(-50%) translateX(-50%);
}

/* Photo Carousel */
.rsvppicture {
  flex-basis: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.albumpic {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.albumpic img { transition: all 0.4s; }
.albumpic img:hover, 
.albumpic img:active {
  transform: scale(1.1);
  box-shadow: 1px 3px 10px 1px grey;
}

.guesttext { 
  font-size: 18px;
  flex-basis: 45%;
  width: 80%;
  margin: 1rem auto;
  align-items: center;
  height: auto;
}

.welcometext {
  flex-basis: 45%;
  width: 100%;
  margin: 0 auto 1rem auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.phototext {
  text-align: center;
  font-size: 18px;
  width: 90%;
}

.welcome { font-size: 30px; }
.newswelcome { 
  font-size: 30px;
  text-align: center;
  margin: 2rem auto 1rem auto;
}

p.casal { 
  margin-top: 20px;
  font-size: 18px;
}

div.newsbox>p.casal { font-size: 18px; }
.guest { line-height: 2rem; }

h3.guestbook {
  margin-top: 1rem;
  font-size: 35px;
}

.photoblog { 
  margin: 2rem auto;
  width: 80%;
}

.form { 
  padding: 2px;
  margin-bottom: 2rem;
  flex-basis: 50%;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
 }

.rsvpbutton {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 1rem;
  padding: 8px;
  color: #000;
  /* background-color: #cda990; */
  background-color: #eaeaea;
  box-shadow: 1.5px 3px 8px 2px rgb(255, 255, 250);
  border: 2px solid orange;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s ease-in;
}

.rsvpbutton:link,
.rsvpbutton:visited {
 color: #fff;
 /* transition: color 2.5s, box-shadow 0.3s, background-color 1.5s, color 0.3s; */
 /* -webkit-transition: color 3.5s, box-shadow 0.3s, background-color 1.5s;
 -moz-transition: color 3.5s, box-shadow 0.3s, background-color 1.5s;
 -ms-transition: color 3.5s, box-shadow 0.3s, background-color 1.5s;
 -o-transition: color 3.5s, box-shadow 0.3s, background-color 1.5s; */
}

.rsvpbutton:hover,
.rsvpbutton:active {
  background-color: orange;
  border: 2px solid orange;
  color: #fff;
  cursor: pointer;
  box-shadow: 1.5px 3px 8px 2px rgba(41, 41, 41, 0.35);
}

.welcometext h3 {
  margin: 1em 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.success { 
  font-style: oblique;
  text-align: center;
}

div.label {
  line-height: 1em;
  font-style: italic;
  font-family: ;
}

.input {
  border: 2px solid rgba(126, 125, 125, 0.322);
  margin-bottom: 1.3rem;
  width: 100%;
  padding: 5px;
}

.input:focus {
  background-color: rgba(211, 211, 211, 0.377);
  border: 2px solid rgba(0, 0, 0, 0.322);
}

.select:focus {
  border: 2px solid rgba(0,0,0,0.322);
}

.textbox {
  /* border: 1px solid rgba(126, 125, 125, 0.322);
  margin-bottom: 1.3rem;
  width: 100%;
  height: 40%;
  padding: 5px; */
  /* min-width: 10rem;
  min-height: 8rem;
  max-width: 15.5rem;
  max-height: 18rem; */
}

.textarea {
  border: 1px solid rgba(126, 125, 125, 0.322);
  margin-bottom: 1.3rem;
  width: 100%;
  margin: auto;
  height: 150px;
  padding: 10px;
  resize: none;
  font-family: Roboto !important;
  font-size: 0.8em;
}


/* input:focus {
  border: 2px solid black;
} */

.messagebox {
  border: none;
  /* display: inline-block;*/
  width: 100%; 
  font-size: 1.25em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

option.option {
  font-size: 12px;
  width: 50%;
}

.logo { height: 1em; }

.footer {
  width: 100%;
  height: 178px;
  font-size: 13px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.copyright {
  color: #fff;
  display: flex;  
  cursor: default;
  font-size: 12px;
}

.footerlink {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 4px 10px;
  color: #eaeaea;
  text-align: center;
  transition: color 0.4s;
}

.footerlink:link,
.footerlink:visited {
    font-size: 100%;
    border: 0
}

.footerlink:hover,
.footerlink:active { 
  color: gold; 
}
/* 
@media only screen and (min-height: 375px) and (max-width: 812px){
  .title { font-size: 3rem; }
  .rsvpcard { flex-direction: column; }
  .photocard { width: 100%;}
  .photoalbum { flex-direction: row; }
} */

 @media (min-width: 320px) and (max-width: 500px) {
   .mobilelink {
    font-size: 1.1em;
     margin: 0 1.1px; 
   }
} 
@media (min-width: 320px) and (max-width: 768px) {
  .title { font-size: 3rem; }
  .rsvpcard { flex-direction: column; }
  .photocard { width: 100%;}
  .photoalbum { flex-direction: row; }
  .mobilenav { padding: 0.4em; }

  .rsvppicture { margin: 0 !important; padding: 0 !important; width: 100% !important; }
  .mobilelink {
    z-index: 9999;
    font-size: 1.4em;
    color: #000;
    margin: auto 1.5rem;
  }

  .textbox {
    min-width: 100px;
    min-height: 60px;
    width: 20%;
    height: 20%;
    max-width: 19.5rem;
    max-height: 300px;
  }

  .countdownWrapper {
    width: 50vw;
    padding: 2rem 1rem 0 1rem;
    color: #fff;
    flex-basis: 35%;
    display: flex;
  }

  .time {
    font-size: 18px;
    font-weight: 700;
    margin-right: 0.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1.5em;
  }
  
  .time2 {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .card { 
    width: 95%; 
    padding: 5px; 
  }

  .venuecard { margin-top: 3em;}
  .grid {
    width: 100%;
    flex-direction: column;
  }

    .card1 {
      width: 95%;
      margin: 1rem auto;
      flex-basis: 85%;
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: center;
    }

    .phototext { 
      line-height: 1.7rem;
      text-align: center;
      width: 70%;
    }
    .welcometext {
      flex-basis: 40%;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .guestbookcard { width: 100%; }
    .guestbooktext {
      width: 95%;
      margin: auto;
    }

    .venuecard { width: 95%; }

    .venue { 
      font-size: 1.25em; 
      text-align: left;
    }
    .venuecard h3 {
      font-size: 1.5em;
    }

    .welcometext h3 { font-size: 160%; }

   p.casal { 
      line-height: 1.3em;
      font-size: 1.25em;
      width: 95%;
    }

    .picture {
      flex-basis: 15%;
      justify-content: center;
      display: flex;
      flex-direction: row;
    }

    div.newsbox {
      padding: 20px;
      background-color: #f1f0f0;
      align-items: flex-start;
      border-radius: 15px;
      -webkit-border-radius:;
      -moz-border-radius:;
      -ms-border-radius:;
      -o-border-radius:;
    }

    .newsbox {
      box-shadow: none;
    }

    a.photolink { position: relative; }
    .rsvpcard { width: 100%; }
    
    .registrycard {
      width: 70%;
      flex-basis: 85%;
      padding: 0 2rem 2rem 2rem;
      margin: 0 auto;
      text-align: left;
    }
    .registrytext {
      width: 70%;
      font-size: 1.3em;
      text-align: center;
    }

    .registrypicture { flex-basis: 10%; }
    .guesttext { flex-basis: 30%}
    h3.guestbook { 
      margin-top: 1em;
      font-size: 35px;
     }

    h3.welcome { font-size: 35px; }
    h3.phototitle { font-size: 35px; }
    h3.registrytitle { 
       margin-top: 1em;
       font-size: 2.5em;
    }

    .rsvpcard {
      width: 75%;
    }

    .rsvpbutton {
      width: 70%;
      margin: auto;
    }

    .form {
      width: 90%;
      margin: auto;
      font-size: 1.5em;
    }

    .textarea {
      width: 85%;
      margin: 20px auto;
    }
    
    .photocard {
      width: 100%;
      margin: 1em auto 3rem auto;
      flex-basis: 100%;
      padding: 1rem;
    }

    div.albumpic {
      flex-basis: 55%;
      width: 200px;
      margin: 0 auto;
      height: 300px;
    }

    .albumpic img:hover,
    .albumpic img:active {
      transform: none;
      box-shadow: none;
    }

    .form {
      padding: 5px;
    }
    
    .footerlink p { font-size: 16px;}
    .albumpic:last-child { margin-bottom: 2rem;}
    .copyright { font-size: 14px; }
    .footer:last-child { flex-wrap: wrap; }
}

@media (min-width: 768px) {

  .mobilenav { padding: 0.4em; }
  div.mobilenav { display: none; } 
  .navigation {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-evenly;
  }

  .time {
    padding: 5px;
    box-shadow: 5px 3px 6px 5px black;
  }

  .card1 { padding: 0 1rem 1rem 1rem; }
  .newswelcome { 
    text-align: left;
    margin-left: 1.5rem;
    font-size: 40px;
  }
  .guestbookcard {
    background-color: #eaeaea;
    margin: 1rem;
    width: 100%;
    flex-basis: 85%;
    padding: 0 2rem 2rem 2rem;
  }

  .guestbooktext { margin-bottom: 3rem; }

  .rsvpcard {
    margin: 0 auto;
    width: 100%;
    flex-basis: 100%;
    flex-direction: column;
    padding: 0 0.8em 0.8em 0.8em;
  }

  .rsvptext {
    flex-basis: 70%;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  h3.rsvptitle { font-size: 35px; }

  option.option {
    font-size: 14px;
    width: 80%;
  }

  .registrycard h3 { 
    display: flex;
    justify-self: top; 
  }

  .registrypicture { justify-content: flex-start; }
  .registrylink { 
    font-size: 20px;
    margin-top: 30px;
  }
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 1rem;
  }

  .photocard {
    width: 85%;
    padding: 0;
    margin: 0 auto;
  }

  h3.phototitle { font-size: 35px; }

  .photoalbum {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  } 

  div.albumpic {
    flex-basis: 40%;
    width: 50%;
    margin-bottom: 3%;
  }

  .footer { height: 150px; }
  a.footerlink { font-size: 24px; }
  .copyright { font-size: 16px; }
}

@media (min-width: 992px) {
  
  div.navigation { 
    display: flex;
    font-weight: 400;
    font-size: 100%;
  }

  .time {
    padding: 4.2px;
    box-shadow: 5px 3px 6px 5px black;
}
  .card1, 
  .card {
    width: 90%;
    flex-basis: 100%;
    padding: 1.5em;
    text-align: left;
    flex-direction: row;
  }

  .countdownWrapper {
    width: 40vw;
    justify-content: center;
    border-radius: 5px;
  }

  .time { font-size: 140%; }
  .time2 { font-size: 70%; }
  .link { 
    font-weight: 400;
    font-size: 120%;
  }
 

  .newsphotobox {
    display: flex;
    align-self: flex-start;
  }

  .venuecard { width: 95%; }
  .guesttext { text-align: center;}
  .rsvpcard {
    margin: 0 auto;
    width: 90%;
    flex-basis: 100%;
    flex-direction: column;
    padding: 0.8em;
  }
  .rsvptext { width: 100%; }

  .registrylink { margin: 20px auto; }
 
  .form { width: 70%; }
  .textbox { max-width: 400px; }
  
  form.div>.rsvpbutton {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    margin: 0 2rem;
    width: 100%;
  }

  .footerlink p { 
    font-size: 18px;
    margin-left: 10px; 
  }

  .copyright {
    line-break: normal;
    font-size: 16px;
    margin: auto 15em;
   }

}

@media (min-width: 1200px) {
  .countdownWrapper { width: 35vw; }
  .rsvptext {
    width: 73%;
    display: flex;
    justify-content: flex-end;
  }

  .venuecard { width: 90%; }
  .venuecard { font-size: 1.3em; }

  .form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  .input { margin-top: 5px; }
  
  .textbox { max-width: 26rem; }
   
}